img {
	width: 4em;
}

.images div {
	display: inline-block;
}

canvas {
	vertical-align: top;
}

canvas.main {
	/* border: 1px dashed black; */
	background: url('./chessboard.png');
	cursor: grab;
}

canvas.main.dragInProgress, body.dragInProgress {
	cursor: move;
}

.hidden {
	display: none;
}

.results {
	display: grid;
	grid-template-columns: 512px 1fr;
	column-gap: 1em;
}

.preview {
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	height: min-content;
	margin-left: 0.4em;
}

.preview div {
	margin-right: 0.4em;
}

.results div canvas{
	display: block;
}

.results div span{
	font-size: 0.8em;
	display: block;
	margin: auto;
	width: 100%;
	text-align: center;
}

/* Dark theme */
body {
	transition: background 1s, color 1s;
}

@media (prefers-color-scheme: dark) {
	body {
		background-color: #1c1c1e ;
		color: #fafafa ;
		}
}