img {
	width: 4em;
}

.images div {
	display: inline-block;
}

canvas {
	border: 1px dashed black;
	vertical-align: top;
}

canvas.main {
	cursor: grab;
}

.hidden {
	display: none;
}

.results div {
	display: inline-block;
	vertical-align: top;
}
.results div canvas{
	display: block;
}
.results div span{
	font-size: 0.7em;
}